// Place all the styles related to the bounty controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.testing{
	color: green;
	text-align: center;
	font: 15px arial,sans-serif;
}

.bountybox{
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
}

.bountylist{
	font: 15px arial,sans-serif;
	color: purple;
}