// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-container {
	width: 50%;
	background-color: rgba(0,0,0,0.3);
	margin: auto;
	height: 350px;
	font-family: verdana,sans-serif;
	text-align: center;
	border-radius: 10px;
}

.login {
	text-align: center;
	padding-top: 70px;
	color: white;
	font-family: verdana,sans-serif;
}

.login-btn-ctn{
	padding-top: 20px;
}

.login-button {
	width: 70px;
	height: 35px;
	background-color: grey;
	border-style: none;
	border-radius: 5px;
	color: white;
}

.alert-error {
	color: red;
}